body { 
    margin: 0; 
    padding-bottom: 6rem;
    font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; 
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    text-align: center;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

.modal-content > h1 {
    display: block;
    font-size: 18px;
    font-weight: <weight>;
    font-family: "Inter", sans-serif;
}

#name-input {
    width: 80%;
    height: 100%;
    border: none;
    border-bottom: 2px solid rgba(0,0,0, 0.12);
    text-align: center;
    font-size: 20px;
    font-family: "Inter", sans-serif;
}

#name-input:focus{
    /* transform: translateY(-20px); */
    outline: none;
    font-size: 20px;
    color: #3498db;
    font-family: "Inter", sans-serif;
}

#name-form {
    
}

#message-form { 
    background: rgba(0, 0, 0, 0.15); 
    padding: 0.25rem; 
    position: fixed; 
    bottom: 3rem; 
    left: 0; 
    right: 0; 
    display: flex; 
    height: 3rem; 
    box-sizing: border-box; 
    backdrop-filter: blur(10px); 
}

#room-form { 
    background: rgba(0, 0, 0, 0.15); 
    padding: 0.25rem; 
    position: fixed; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    display: flex; 
    height: 3rem; 
    box-sizing: border-box; 
    backdrop-filter: blur(10px); 
}

.input { 
    border: none; 
    padding: 0 1rem; 
    flex-grow: 1; 
    border-radius: 2rem; 
    margin: 0.25rem; 
}

.input:focus { 
    outline: none; 
}

.form > button { 
    background: #333; 
    border: none; 
    padding: 0 1rem; 
    margin: 0.25rem; 
    border-radius: 3px; 
    outline: none; 
    color: #fff; 
}

#rooms {
    list-style: none;
    margin: 0;
    padding: 0;
}

.messages { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
}

.messages > li { 
    padding: 0.5rem 1rem; 
}

/* #messages > li:nth-child(odd) { 
    background: #efefef; 
} */

.messages > .ownMessage { 
    text-align: right;  
}

.messages > .notification {
    text-align: center;
}

.chat-sender {  
    font-size: 18px;
    font-family: "Reddit Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    margin: 0 0.5rem 0.5rem 0.5rem;
}

.chat-bubble {
    display: inline-block;
    max-width: 70%;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

.notification-bubble {
    display: inline-block;
    max-width: 70%;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    font-size: 12px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}